<li class="list-group-item" [ngStyle] = "{background : getBackground()}">  
  <div class="row">
    <div class="col-md-4">
      <h2 [ngClass]="{'text-danger': post.loveIts<0,
      'text-success' : post.loveIts>0}">{{post.title}}</h2>
    </div>
    <div class="col-md-4 offset-4">
      <span>{{post.created_at | date : 'short'}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p [ngClass]="{'text-danger': post.loveIts<0,
      'text-success' : post.loveIts>0}">{{post.content}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class = "btn btn-success" (click) = "love()">Love it</button>
    </div>
    <div class="col-md-2">
      <button class = "btn btn-danger" (click) = "dlove()">Don't Love it</button>
    </div>
  </div>
</li>